.app{
  max-width: 1100px;
  margin: auto;
}

.frm{
    height: auto;
    padding: 20px;
    margin-top: 40px;
    background-color: #f3f3f3;
}

.row1{
  display: flex;
  position: relative;
  padding: 0 px;
  border-bottom: solid 1px rgb(110, 109, 109);
}

.details{
  padding: 20px;
  border-right: 1px solid rgb(110, 109, 109);
  width: 40%;
}

.appointment{
  padding: 20px;
  width: 60%;
}

.vitalbox{
  display: flex;
  position: relative;
  margin-bottom: 30px;
}

.txt{
  margin: 10px;

}

.MuiFormControl-root {
 
margin-left: 10px!important;

}

.txtarea{
  width:300px;
  height: 60px;
}

.textarea{
  align-items: center;
  text-align: center;
}

.button{
  text-align: center;
}

.btn{
  padding: 10px 60px;
  background: #4287f5;
  color: #fff;
  border-radius: 20px;
  border: none;
  margin: 20px 10px;

}

.btn:hover{
  background-color: #333;
  color: #fff;
}


@media only screen and (max-width:1200px)
{
  .app{
      width: 1200px;
  }
}

@media only screen and (min-width:768px)
{

  .app{
    min-width: 768px;
    margin: auto;
  }
 
}

@media only screen and (max-width:480px)
{
  .app{
      width: 50px;
  }
}

